html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(112, 189, 25);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkcyan;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-right: 2rem;
}

nav h1 {
  margin: 0;
  cursor: pointer;
}

.home {
  display: none;
}

main {
  margin-top: 10rem;
  padding-bottom: 8em;
}

.main-title {
  font-size: 6rem;
  margin-left: 3rem;
}

.my-games-container {
  display: none;
}

.popups-container {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(26, 24, 18, 0.5);
  backdrop-filter: blur(0.5rem);
}

.enter-game-popup {
  margin-inline: auto;
  background-color: white;
  margin-top: 1rem;
  width: 40%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

legend {
  text-align: center;
  font-size: 1.5rem;
}

#game-input {
  display: block;
  margin: 0 auto;
  width: 80%;
}

#submit-game {
  align-self: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 7em;
  grid-gap: 8rem;
  width: 90%;
}

h2 {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.recent-scores-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leaderboard-buttons {
  font-size: 2rem;
  padding: 0.2em 0.8em;
  box-shadow: 0.4rem 0.4rem 0.4rem black;
  cursor: pointer;
}

.leaderboard-buttons:hover {
  background-color: rgb(51, 164, 240);
  color: white;
}

.leaderboard-buttons:active {
  transform: scale(0.9);
}

#refresh-button {
  align-self: center;
}

.scores-list {
  font-size: 2rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.scores-list li {
  padding: 0.5em 0.2em;
}

.scores-list li:nth-child(odd) {
  background-color: white;
}

.scores-list li:nth-child(even) {
  background-color: lightgrey;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 2rem;
  margin-top: 4rem;
}

#name-input,
#score-input {
  display: block;
  padding: 0.3em;
  font-size: 2rem;
  border-radius: 0.4rem;
  outline: none;
  border: 0.2rem solid rgb(19, 134, 129);
}

input:focus {
  color: rgb(236, 16, 16);
}

#submit-score {
  align-self: flex-end;
}

footer {
  position: fixed;
  border: 0.2rem solid black;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background-color: grey;
}
