html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image:
    linear-gradient(rgba(192, 52, 104, 0.37), rgba(183, 77, 115, 0.5)),
    url(./assets/images/background.jpg);
  background-position: center;
  background-size: contain;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 5rem;
  width: 100%;
  background-color: darkcyan;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-right: 2rem;
  align-items: center;
}

nav h1 {
  margin: 0;
  cursor: pointer;
}

.main-title {
  font-family: 'Jockey One', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 2.7rem;
  font-style: italic;
  text-shadow: 0.4rem 0.2rem 0.4rem white;
}

.home {
  display: none;
  font-size: 2.5rem;
  font-weight: bold;
}

.my-games-link {
  font-size: 2.5rem;
  font-family: 'Jockey One', sans-serif;
}

main {
  margin-top: 7rem;
  padding-bottom: 3rem;
}

.current-game {
  font-size: 2.3rem;
  margin-left: 5rem;
  color: cyan;
  width: fit-content;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
}

.my-games-container {
  display: none;
  margin: 0;
  width: 80%;
}

.popups-container {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(26, 24, 18, 0.5);
  backdrop-filter: blur(0.5rem);
}

.enter-game-popup {
  margin-inline: auto;
  background-color: white;
  margin-top: 1rem;
  width: 40%;
  padding: 1rem 1rem 3rem 1rem;
}

legend {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

fieldset div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-inline: auto;
}

#game-input {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem 0.3rem;
  border: rgba(26, 24, 18, 0.5) solid;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.7rem;
}

#submit-game {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  align-self: flex-end;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

#submit-game:active {
  transform: scale(0.8);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: clamp(5rem, 7vw, 15rem);
  grid-gap: 3rem;
  width: 100vw;
}

h2 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#recent-scores-title,
#add-score-title {
  font-size: 3rem;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

.recent-scores-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 38rem;
}

.leaderboard-buttons {
  font-weight: bold;
  font-size: 1.6rem;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 0.6rem;
  background-color: #257eb8;
}

.leaderboard-buttons:hover {
  background-color: rgba(86, 233, 123, 0.726);
  color: white;
}

.leaderboard-buttons:active {
  transform: scale(0.9);
}

#refresh-button {
  align-self: center;
  min-width: 10rem;
}

.scores-list {
  width: 38rem;
  height: 63vh;
  overflow-y: auto;
  font-size: 1.7rem;
  padding: 1rem;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: darkcyan;
}

.scores-list li {
  padding: 0.5em 0.2em;
  border-left: 0.3rem solid black;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.scores-list li:nth-child(odd) {
  background-color: white;
}

.scores-list li:nth-child(even) {
  background-color: lightgrey;
}

.add-score-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 2rem;
  margin-top: 4rem;
  padding-right: 1rem;
}

#name-input,
#score-input {
  display: block;
  padding: 0.4rem;
  font-size: 2rem;
  border-radius: 0.4rem;
  outline: none;
  border: 0.2rem solid rgb(19, 134, 129);
}

input:focus {
  box-shadow: 0 0 0.8rem cyan;
}

#submit-score {
  align-self: flex-end;
  min-width: 10rem;
}

.submission-msg {
  color: white;
}

.game-menu-container {
  padding: 1rem;
}

#select-game {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.7rem;
  color: #ff8749;
}

.game-menu {
  width: 17rem;
  height: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #257eb8;
}

.games-list-title {
  font-size: 2.5rem;
  color: white;
}

.my-games-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 40rem;
  margin: 0 auto;
}

.new-game-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1.5rem;
  padding-top: 0.3rem;
  margin: 0.5rem;
}

#input-new-game {
  padding: 0.4rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

#submit-new-game {
  width: 10rem;
  margin-inline: auto;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.3rem;
  cursor: pointer;
  border: none;
}

.new-game-spinner {
  width: 1.6rem;
  height: 1.6rem;
}

#submit-new-game:hover {
  background-color: #257eb8;
  color: white;
}

#submit-new-game:active {
  transform: scale(0.8);
}

.games-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
  width: 90%;
  height: 55vh;
  border-top: solid red;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.3rem);
  overflow-y: auto;
}

.game-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  outline: rgb(19, 134, 129) inset;
  padding: 0.8rem;
  background-color: #008b8b;
}

.game-list-item p {
  margin: 0;
  color: white;
  font-size: 1.8rem;
}

.delete-game {
  font-size: 1.4rem;
  color: red;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  border-top: 0.1rem solid white;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background-color: #517b99;
}

.copyright {
  color: #fafafa;
  font-size: 1.8rem;
  font-weight: bold;
  padding-right: 3rem;
}

@media screen and (max-width: 700px) {
  main {
    padding: 0 0 5rem 0;
  }

  header {
    min-height: 1rem;
  }

  nav ul {
    padding: 0;
  }

  .main-title {
    font-size: clamp(2rem, 2vw + 1rem, 2.5rem);
  }

  .my-games-link {
    font-size: clamp(1.8rem, 2.5vw + 1rem, 3rem);
  }

  .home {
    padding-left: 1rem;
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  }

  .current-game {
    padding: 0;
    margin-left: 0;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100vw;
  }

  .recent-scores-heading {
    width: clamp(15rem, 90vw, 45rem);
  }

  .scores-list {
    width: clamp(15rem, 90vw, 45rem);
    height: 55vh;
  }

  .add-score-form {
    padding: 0;
    width: clamp(15rem, 70vw, 38rem);
  }

  .my-games-container {
    display: none;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    gap: 3rem;
  }

  .my-games-section {
    width: 100vw;
  }

  .games-list-container {
    width: clamp(15rem, 80vw, 37rem);
    height: 60vh;
  }

  .game-menu {
    width: 17rem;
    min-height: 3.5rem;
  }

  .new-game-form {
    width: clamp(15rem, 70vw, 28rem);
    padding-top: 0.3rem;
  }
}
